.p-contact {
    text-align: center;
    padding: $spacing-xxl $spacing-lg;

    &__title {
        margin-bottom: $spacing-xl;
        font-size: $font-size-xlarge;
    }

    &__social {
        display: flex;
        justify-content: center;
        gap: $spacing-xxl;
        margin-top: $spacing-xl;

        @media (max-width: $breakpoint-sm) {
            gap: $spacing-md;
        }
    }

    &__social-link {
        text-decoration: none;
    }

    &__social-icon {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}