
.p-footer{
  &__wrapper{
    padding-top: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.p-footer-nav {
  &__list {
    display: flex;
    gap: $spacing-lg;

    &--line{
      border-bottom: 1px solid rgba($color-dark, 0.1);
      padding-bottom: 8px;
    }
    
    @media (max-width: $breakpoint-sm) {
      flex-direction: column;
      gap: $spacing-md;
    }
  }
  
  &__item {
    position: relative;
  }
  
  &__link {
    font-size: $font-size-small;
    color: rgba($color-dark, 0.8);
    
    &:hover {
      color: $color-primary;
    }
  }
}
