.p-hero {
  position: relative;
  min-height: 70vh;
  display: flex;
  align-items: center;
  padding: $spacing-xxl $spacing-lg;
  overflow: hidden;
  
  .container {
    display: flex;
    align-items: center;
    position: relative;
    width: $container-width;
    
    @media (max-width: $breakpoint-md) {
      flex-direction: column;
      text-align: center;
    }
  }

  &__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__text{
    margin-bottom: 24px;
  }

  &__content{
    width: 50%;
    text-align: center;
  }

  &__image{
    width: 30%;
  }

}