/* Profile Section Styles */
.p-profile {
    padding: 48px 24px;
    text-align: center;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;

    &__container{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__text{
        font-size: 32px;
        margin-bottom: 0;
        text-align: left;
    }

    &__arrow{
        font-size: 44px;
        text-align: left;
        padding-left: 48px;
    }

    &__photo-container{
        position: relative;
    }

    &__photo {
        width: 60%;
        height: 100%;
        object-fit: cover;
    }

    &__buttons{
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 100%;
        max-width: 300px;
    }

    &__button-wrapper{
        width: 100%;
    }
}


.p-profile__button-wrapper .c-button {
    width: 400px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    background-color: #F8F8F8;
    border-radius: 8px;
    text-align: center;
    font-size: 32px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Responsive styles */
@media (max-width: 768px) {
    .p-profile__photo-container {
        width: 150px;
        height: 150px;
    }
    
    .p-contact__social {
        gap: 16px;
    }
}

@media (max-width: 576px) {
    .p-profile__photo-container {
        width: 120px;
        height: 120px;
    }
}